*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    color: rgb(25, 139, 240);

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #00abf0;

}
.logo{
    position: relative;
    font-size: 25px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
}
.logo::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100% ;
    background: #00abf0;
    animation: showRight 1s ease forwards;
    animation-delay: 0.4s;
}
.navbar a{
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}
.navbar a:hover,
.navbar a.active{
    color: #000000;
}
#menu-icon{
    font-size: 3.6rem;
    color: #fff;
    display: none;
}
.home{
    height: 100vh;
    background: url('image.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex; 
    align-items: center;
    padding: 25% 10%;
}
.home-content{
    max-width: 600px;
}
.home-content h1{
    position: relative;
    font-size: 52px;
    font-weight: 700;
    color: white;
    line-height: 1.2;
}
.home-content h1::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100% ;
    background: #829597;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content h3{
    position: relative;
    font-size: 33px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin: 15px 0 30px;
}
.home-content h3::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100% ;
    background: #829597;
    animation: showRight 1s ease forwards;
    animation-delay: 1.5s;
}
.home-content .btn{
    position: relative;
    display: flex;
    width: 340px;
    height: 50px;

}
.home-content .btn::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100% ;
    background: #829597;
    animation: showRight 1s ease forwards;
    animation-delay: 1.8s;
    z-index: 2;
}
.btn a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid;
    border-radius: 8px;
    font-size: 19px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;

}
.btn a:hover{
    color: black;
   
}
.btn a{
    background: #00abf0;
    color: black;
}
.btn a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: wheat;
    z-index: -1;
    transition: 1s;
    
}
.btn a:hover::before{
    width: 100%;

}
#resume{
    text-align: center;
    margin-top: 30px;
}
#resume h2{
    font-size: 2rem;
    margin-bottom: 5px;
    color: #081b29;
}
#resume a{
    display: inline-block;
    background-color: #00abf0;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 25px;
    font-size: 1.3em;
    transition: background-color 0.3s ease;
    
}

#resume a:hover{
    background-color: rgb(14, 11, 11);
}
#skills{
    background-color: #f5f5f5;
    padding: 40px 0;
    margin-bottom: 30px;
}
#skills h2{
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}
#skills ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}
#skills li{
    display: inline-block;
    background-color: #00abf0;
    color: #fff;
    padding: 8px 20px;
    margin: 5px;
    border-radius: 20px;
    font-size: 1.1em;
}
.home1{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.home1::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100% ;
    background: #829597;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}
.home1 a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
   
}
.home1 a:hover{
    color: #081b29;
}
.home1 a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:0 ;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: 0.5s;
}
.home1 a:hover:before{
    width: 100%;
}
.home-imghover {
    position:absolute;
    top: 0;
    right: 70px;
    width: 500px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipactivehover 0.1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}
.home-imghover:hover{
    background: #689096;
    opacity: -10;

}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 30px;
}
.container h1{
    text-align: center;
    padding-bottom: 20px;
    font-size: 30px;
}
#projects{
    margin-bottom: 30px;
}
#projects h2{
    text-align: center;
}
.project{
    background-color: #081b29;
    border-radius: 8px;
    box-shadow: 0 0 20px  black;
    padding: 30px;
    margin-bottom: 30px;
}
.project h3{
    font-size: 1.8em;
    color: white;
    margin-bottom: 10px;
}
.project img{
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
}
.project p {
    font-size: 1.1em;
    color: #666;
}
#contact{
    background-color: #081b29;
    color: wheat;
    padding: 40px 0;
    margin-bottom: 30px;
}
#contact h2{
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}
#contact p{
    text-align: center;
    font-size: 1.1em;
}
footer{
    background-color: #00abf0;
    color: #000000;
    text-align: center;
    border-top-left-radius: 20%;
    bottom: 0;
    width: 100%;
    font-size: 20px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem 5%;
    
}
.footer-icon a{
    display: inline-flex;
    justify-content: end;
    align-items: center;
    padding: .3rem;
    background: black;
    border-radius: .8rem;  
    transition: .5sec;
}
.footer-icon a:hover{
    box-shadow: 0 0 1rem #fff;
}
.footer-icon a i{
    font-size: 2rem;
    color: #4193b3;
}


@keyframes showRight{
    100%{
        width: 0;

    }
}
@keyframes manipactivehover{
    100%{
        pointer-events: auto;
    }
}
@media(max-width: 1200px) {
    html{
        font-size: 55%;

    }
}
@media(max-width: 991px) {
    .header{
        padding: 2rem 3%;

    }

    section{
        padding: 10rem 3% 2rem;

    }
    .projects{
        padding-bottom: 7rem;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media(max-width:768px) {
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: #000000;
        border-top: 1rem solid #00abf0;
        box-shadow: 0.5rem 1 rem #00abf0;
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction: column;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;

    }
    #skills{
        flex-direction: column-reverse;
    }
    #skills ul li{
        flex-direction: column;
    }
    .projects p{
        margin-bottom: 4rem;
    }
}
    @media (max-width: 450px){
        html{
            font-size: 50;
        }


    }
    @media (max-width: 365px) {
        .footer{
            flex-direction: column-reverse;
        }
        .footer p{
            text-align: center;
            margin-top: 2rem;
        }
    }

